@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="div">
    <h1 class="display-4">Phần mềm quản lý cửa hàng</h1>

    <div>
        <ul>
            <li><a href="MH_DanhSach_MatHang">Danh sách mặt hàng</a></li>
            <li><a href="MH_DanhSach_LoaiHang">Danh sách loại hàng</a></li>
            <li><a href="MH_DanhSach_HoaDonBan">Danh sách hoá đơn bán hàng</a></li>
            <li><a href="MH_DanhSach_HoaDonNhap">Danh sách hoá đơn nhập hàng</a></li>
            <li><a href="MH_DanhSach_TonKho">Danh sách mặt hàng tồn kho</a></li>
            <li><a href="MH_DanhSach_HetHan">Danh sách mặt hàng hết hạn</a></li>
        </ul>
    </div>
</div>
