@page
@model WEB.Pages.MH_Them_MatHang
@using Entities;
@{
    ViewData["Title"] = "Them mat hang";
}

<div class="div div-space">
    <h2>Thêm mặt hàng</h2>
</div>

<div class="div">
    <form method="post">
        <label for="tenhang" class="label-form">Tên mặt hàng</label>
        <input id="tenhang" type="text" name="tenhang" value="" /><br />

        <label for="handung" class="label-form">Hạn sử dụng</label><br />
        <input id="handung" type="date" name="handung" value="" placeholder="dd-mm-yyyy" /><br />

        <label for="congtysanxuat" class="label-form">Công ty sản xuất</label>
        <input id="congtysanxuat" type="text" name="congtysanxuat" value="" /><br />

        <label for="ngaysanxuat" class="label-form">Ngày sản xuất</label>
        <input id="ngaysanxuat" type="date" name="ngaysanxuat" value="" placeholder="dd-mmm-yyyy" /><br />

        <lable for="loaihang" class="label-form">Loại hàng</lable>
        <select name="loaihang">
            <option value="" disabled selected>Chọn loại hàng</option>
            @foreach (string tenLoaiHang in Model.dsTenLoaiHang)
            {
                <option value="@tenLoaiHang">@tenLoaiHang</option>
            }
        </select>

        <label for="giaban" class="label-form">Giá bán</label>
        <input id="giaban" type="text" name="giaban" value="" /><br />

        <input type="submit" value="Thêm" class="button-them-sua" />
    </form>
</div>


@if (Model.message == "Successful")
{
    <script>
        alert("Thêm mặt hàng thành công!");
        window.location.href = "MH_DanhSach_MatHang";
    </script>
}
else
{
    <h3 class="h3">@Model.message</h3>
}