@page
@model QuanLyCuaHang.Pages.MH_Them_LoaiHangModel
@{
}
@using Entities
@using XuLyNghiepVu
@{
    string kq = string.Empty;
    if (Request.Method == "POST")
    {
        LoaiHang lh;
        lh.MaLoaiHang = Request.Form["maloaihang"];
        lh.TenLoaiHang = Request.Form["tenloaihang"];

        bool check = XL_LoaiHang.KiemTraMaLoaiHang(Request.Form["maloaihang"]);

        if (check)
        {
            kq = "Mã loại hàng đã tồn tại!";
        }
        else
        {
            kq = XL_LoaiHang.ThemLoaiHang(lh);
        }

        if (string.IsNullOrEmpty(kq))
        {
            <script>
                var message = "Thêm loại hàng thành công";
                // Hien thi thong bao
                alert(message);
                // Redirect to "MH_DanhSach_LoaiHang"
                window.location.href = "MH_DanhSach_LoaiHang";
            </script>
        }
    }
}
<div class="div div-space">
    <h2>Thêm loại hàng</h2>
</div>

<div class="div">
    <form method="post">
        <label for="maloaihang" class="label-form">Mã loại hàng</label>
        <input id="maloaihang" type="text" name="maloaihang" value="" /><br />

        <label for="tenloaihang" class="label-form">Tên loại hàng</label>
        <input id="tenloaihang" type="text" name="tenloaihang" value="" /><br />

        <input type="submit" value="Thêm" class="button-them-sua"/>
    </form>
    @if(kq != string.Empty )
    {
        <h3 class="h3">@kq</h3>
    }
</div>