@page
@using Entities
@using XuLyNghiepVu
@model QuanLyCuaHang.Pages.MH_Xoa_LoaiHangModel
@{
    string chuoi = string.Empty;
    string maLoaiHang = Request.Query["maloaihang"];
    LoaiHang? lh = null;
    if (!string.IsNullOrEmpty(maLoaiHang))
    {
        lh = XL_LoaiHang.DocThongTinChiTietLoaiHang(maLoaiHang);
        if (lh == null)
        {
            chuoi = "Loại hang không tồn tại";
        }
        else
        {
            if (Request.Method == "POST")
            {
                string kq = XL_LoaiHang.XoaLoaiHang(maLoaiHang);
                chuoi = kq;
                if (string.IsNullOrEmpty(chuoi))
                {
                    <script>
                        var message = "Xóa loại hàng thành công";
                        // Hien thi thong bao
                        alert(message);
                        // Redirect to "MH_DanhSach_LoaiHang"
                        window.location.href = "MH_DanhSach_LoaiHang";
                    </script>
                }
            }
        }
    }
    else
    {
        chuoi = "Không có tham số mã loại hàng";
    }
}

<div>
    @if (lh != null)
    {
        <div>
            <p style="font-size: 30px;">Bạn có muốn xóa loại hàng <b style="color: #ff0047">@lh.Value.TenLoaiHang</b> không?</p>
            <ul>
                <li><span class="label">Mã loại hàng</span>: @lh.Value.MaLoaiHang</li>
                <li><span class="label">Tên loại hàng</span>: @lh.Value.TenLoaiHang</li>
            </ul>
        </div>
        <div class="button-container">
            <form method="post">
                <input type="submit" value="Xóa" class="button-xoa">
            </form>
            <a href="MH_DanhSach_LoaiHang"><button class="button-cancel">Cancel</button></a>
        </div>
    }
    @if (chuoi != string.Empty)
    {
        <div>@chuoi</div>
    }
</div>